<a href="javascript:void(0);" class="float" (click)="adddevicePopup()" nbTooltip="Add New Device">
    <i class="fa fa-plus my-float"></i>
    </a>

<div class="row">
<div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6" *ngFor="let devi of devices; let i = index">
    
 <nb-card>
      <nb-card-header>
          <nb-checkbox #custA></nb-checkbox>
        <div style="float:right">
            <a href="javascript:void(0);" *ngIf="devi.Assigndetails.length <= 0"  (click)="openAssetAssign(devi._id)"><nb-icon class="icon-set" nbTooltip="Assign to Asset" icon="layers-outline" status="warning"></nb-icon></a>
            <a href="javascript:void(0);" *ngIf="devi.Assigndetails.length > 0"  (click)="openAssetAssign(devi._id)"><nb-icon class="icon-set" nbTooltip="UnAssign from Asset" icon="corner-down-left-outline" status="warning"></nb-icon></a>
            <a href="javascript:void(0);"  (click)="deleteDevices(devi._id,devi.name)"><nb-icon class="icon-set" nbTooltip="Delete Device" icon="trash-2-outline" status="warning"></nb-icon></a>
        </div>
      </nb-card-header>
     
      <nb-card-body  (click)="updateDevicePopup(devi._id)">
          <a href="javascript:void(0);" class="no-underline">
        <div class="">
          <h6>{{ devi.name }}</h6>
          <div class="">{{ devi.device_type }}</div>
          <div class="details subtitle-2">{{ devi.description }}</div>
          <div *ngIf="devi.Assigndetails.length > 0">
            <div class="">Assigned to Asset '{{ devi.Assigndetails[0].asset_id }}'</div>
          </div>
          <br>
        </div>
      </a>
      </nb-card-body>
    </nb-card>
</div>

</div>

<ng-template #dialog let-data let-ref="dialogRef" fullWidth>
  <nb-card>

      <nb-card-header>Add Device
          <nb-icon class="icon-set" style="float: right" (click)="ref.close()" icon="close-outline" status="warning"></nb-icon>
      </nb-card-header>
      <nb-card-body>
      <form class="register-form" name="form" (ngSubmit)="f.form.valid && addDevices()" #f="ngForm" novalidate class="form">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                <label for="inputEmail1" class="label col-sm-3 col-form-label"></label>
              <input type="text" nbInput fullWidth id="name" placeholder="Name" [(ngModel)]="model.name" name="name" #name="ngModel" required >
            </div>
            <div *ngIf="f.submitted && !name.valid" class="alert-warning">Name is required</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !device_type.valid }">
                <label for="inputEmail1" class="label col-sm-3 col-form-label"></label>
              <input type="text" nbInput fullWidth id="device_type" placeholder="Device Type" [(ngModel)]="model.device_type" #device_type="ngModel" name="device_type" required >
            </div>
            <div *ngIf="f.submitted && !device_type.valid" class="alert-warning">Device Type is required</div>
          </div>
        
          <div class="col-sm-6">
              <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !label.valid }">
                  <label for="inputEmail1" class="label col-sm-3 col-form-label"></label>
                <input type="text" nbInput fullWidth id="label" placeholder="Label" [(ngModel)]="model.label" name="label" #label="ngModel" required >
              </div>
              <div *ngIf="f.submitted && !label.valid" class="alert-warning">Label is required</div>
            </div>
            <div class="col-sm-12">
                <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !description.valid }">
                    <label for="inputEmail1" class="label col-sm-3 col-form-label"></label>
                  <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Description" [(ngModel)]="model.description" name="description" #description="ngModel" required ></textarea>
                </div>
                <div *ngIf="f.submitted && !description.valid" class="alert-warning">Description is required</div>
              </div>
        </div>

        <button type="submit" class="btn btn-outline-success" data-dismiss="modal" nbButton>Submit</button>
        <button class="btn btn-outline-danger" (click)="ref.close()" #closeAddExpenseModal>Cancel</button>
      </form>
      </nb-card-body>
     
    </nb-card>
</ng-template>


   <!-- Update Device Details -->

   <ng-template #updatedialog let-data let-ref="dialogRef" fullWidth>
      <nb-card>
          <nb-card-header>Edit Device
              <nb-icon class="icon-set" style="float: right"  (click)="onCloseModal()" icon="close-outline" status="warning"></nb-icon>
          </nb-card-header>
          <nb-card-body>
          <form class="register-form" name="form" (ngSubmit)="f.form.valid && updateDevicesValue()" #f="ngForm" novalidate class="form">
              <input type="hidden" [(ngModel)]="model.update_dev_id" name="update_dev_id" #update_dev_id="ngModel">
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !update_name.valid }">
                        <label for="inputEmail1" class="label col-sm-3 col-form-label"></label>
                      <input type="text" nbInput [disabled]="editoption" fullWidth id="update_name" placeholder="Name" [(ngModel)]="model.update_name" name="update_name" #update_name="ngModel" required >
                    </div>
                    <div *ngIf="f.submitted && !update_name.valid" class="alert-warning">Name is required</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !update_device_type.valid }">
                        <label for="inputEmail1" class="label col-sm-3 col-form-label"></label>
                      <input type="text" nbInput [disabled]="editoption" fullWidth id="update_device_type" placeholder="Device Type" [(ngModel)]="model.update_device_type" #update_device_type="ngModel" name="update_device_type" required >
                    </div>
                    <div *ngIf="f.submitted && !update_device_type.valid" class="alert-warning">Device Type is required</div>
                  </div>
                
                  <div class="col-sm-6">
                      <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !update_label.valid }">
                          <label for="inputEmail1" class="label col-sm-3 col-form-label"></label>
                        <input type="text" nbInput [disabled]="editoption" fullWidth id="update_label" placeholder="Label" [(ngModel)]="model.update_label" name="update_label" #update_label="ngModel" required >
                      </div>
                      <div *ngIf="f.submitted && !update_label.valid" class="alert-warning">Label is required</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !update_description.valid }">
                            <label for="inputEmail1" class="label col-sm-3 col-form-label"></label>
                          <textarea rows="5" nbInput [disabled]="editoption" fullWidth shape="round"  placeholder="Description" [(ngModel)]="model.update_description" name="update_description" #update_description="ngModel" required ></textarea>
                        </div>
                        <div *ngIf="f.submitted && !update_description.valid" class="alert-warning">Description is required</div>
                      </div>
                </div>
              <button *ngIf="editoption" class="btn btn-primary btn-round" (click)="editDev()">Edit Device</button>
              <button *ngIf="updatebutton" type="submit" class="btn btn-primary btn-round">Save Changes</button>&nbsp;&nbsp;
              <button class="btn btn-outline-danger" id="closeBTN"  (click)="ref.close()" >Cancel</button>
          </form>
          </nb-card-body>
         
        </nb-card>
  </ng-template>


  <!-- Assign To Asset -->
   <!-- Update Device Details -->

   <ng-template #assigndialog let-data let-ref="dialogRef" fullWidth>
      <nb-card class="list-card">
          <nb-card-header>Assign Device To Assets
              <nb-icon class="icon-set" style="float: right"  (click)="ref.close()" icon="close-outline" status="warning"></nb-icon>
              <br>
              <small>Please select the device to assign the Asset</small>
              
          </nb-card-header>
         
          <nb-card-body>
            <input type="hidden" name="assign_device_id" [(ngModel)]="model.assign_device_id" #assign_device_id="ngModel">
            <nb-list>
              <nb-list-item >
                  <nb-radio-group [(value)]="radioGroupValue" *ngFor="let asset of assets" #res  [(ngModel)]="model.res" name="res"> 
                      <nb-radio
                      [value]="asset._id">
                     {{ asset.name }}
                    </nb-radio>
                    </nb-radio-group>
              </nb-list-item>
            </nb-list>
            <br>
            <div style="float: right">
            <button  class="btn btn-outline-primary btn-round"  (click)="AssignDevice()">Assign</button>
          </div>
          </nb-card-body>
        </nb-card>
  </ng-template>
    