.add-widget{
    width: 37em;
    height: 15em;
  }
  .form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden; }
  
  .form-group:last-child {
  margin-bottom: 0px; }
  
  .form-group .text{
    width: 28em;
    height: 2.5rem;
  }